<div class="wrapper">
  <button class="paginator-btn" (click)="clickFirst()">First</button>
  <button class="paginator-btn disable" (click)="clickPrev()">Prev</button>
  <button class="paginator-btn small-btn disable" (click)="onWatchLeft()">...</button>
  <button
    *ngFor="let page of pageButtons;"
    class="paginator-btn small-btn"
    [ngClass]="{'first-page-btn': page === currentPage, 'disable': page !== currentPage}"
    (click)="onPageBtn(page)">
    {{page}}
  </button>
  <button class="paginator-btn small-btn disable" (click)="onWatchRight()">...</button>
  <button class="paginator-btn disable" (click)="clickNext()">Next</button>
  <button class="paginator-btn" (click)="clickLast()">Last</button>
</div>
