<h2>Latest Releases</h2>
<div class="wrapper" *ngIf="(contentService.movies$ | async) as movies; else loader">
  <div class="movie" *ngFor="let movie of movies;" routerLink="/list/{{currentPage}}/{{movie.id}}">
    <img
      class="movie-img"
      src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}"
      alt="{{movie.title}}"
    >
    <div class="tooltip">
      <span>Name:</span>
      <span>{{movie.title}}</span>
      <span>Adult:</span>
      <span *ngIf="!movie.adult">PG</span>
      <span *ngIf="movie.adult">R</span>
      <span>Release date:</span>
      <span>{{movie.release_date | date}}</span>
      <span>Rate:</span>
      <span>{{movie.vote_average}}</span>
    </div>
  </div>
</div>
<app-home-content-paginator
  [currentPage]="currentPage"
  [lastPage]="lastPage"
  (clickEvent)="setMovies($event)"></app-home-content-paginator>
<router-outlet></router-outlet>
<ng-template #loader>
  <p>Loading...</p>
</ng-template>


