<h2>Latest Releases</h2>
<div class="wrapper"
     [ngStyle]="{'grid-template-rows':'repeat(' + rows + ', 1fr)', 'grid-template-columns':'repeat(' + columns + ', 1fr)'}"
     *ngIf="contentService.moviesSubject | async as movies; else loader">
  <div class="movie"
       *ngFor="let movie of movies;"
       (click)="onMovie(movie.id)">
    <img *ngIf="movie.poster_path; else loader"
      class="movie-img"
      src="{{'http://image.tmdb.org/t/p/w342' + movie.poster_path}}"
      alt="{{movie.title}}"
    >
    <div class="tooltip">
      <span>Name:</span>
      <span>{{movie.title}}</span>
      <span>Adult:</span>
      <span *ngIf="!movie.adult">PG</span>
      <span *ngIf="movie.adult">R</span>
      <span>Release date:</span>
      <span>{{movie.release_date | date}}</span>
      <span>Rate:</span>
      <span>{{movie.vote_average}}</span>
    </div>
  </div>
</div>
<app-content-paginator
  [currentPage]="contentService.currentPage"
  [lastPage]="contentService.lastPage"
  (clickEvent)="setMovies($event)"></app-content-paginator>
<ng-template #loader>
  <div class="temp-img">
    <div class="loader">Loading...</div>
  </div>
</ng-template>


