@import 'variables.scss';
@import 'mixins.scss';
@import "animations.scss";

h2 {
  margin: 20px;
  opacity: 0.5;
}

.wrapper {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 10px 20px 0 20px;

  .movie {
    width: 100%;
    box-shadow: 0 0 6px 2px #000000;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .movie-img {
      width: 100%;
      height: 100%;
    }

    .tooltip {
      display: grid;
      visibility: hidden;
      background-color: #474d59;
      position: absolute;
      top: 70%;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.8;
      color: #ffffff;
      font-size: 1rem;
      padding: 10px;
      grid-template-columns: auto auto;
      grid-column-gap: 15px;
      overflow: hidden;

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .movie:hover > .tooltip {
    visibility: visible;
    animation: tooltip_go_up 0.8s ease-out 1 both;
  }
}
.temp-img {
  width: 100%;
  height: 100%;
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-30px) translateY(-30px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px solid;
    animation: loader 2000ms linear 0s infinite normal both;
  }
}


