<div class="wrapper">
  <div class="nav-bar">
    <i class="fas fa-globe-americas logo"></i>
    <h1 class="title">Movies</h1>
    <button type="button" class="header-btn"
            [appDropDown]="dropdown">
      <p class="my-account">My Account</p>
      <i class="fas fa-angle-down angle-down"></i>
    </button>
    <app-dropdown #dropdown>
      <div class="dropdown-menu">
        <p (click)="onFavourite()">{{!toFavouriteFlag ? 'My favourite' : 'Movies'}}</p>
        <hr>
        <p *ngIf="toFavouriteFlag" (click)="onClear()">Clear favourite</p>
        <hr *ngIf="toFavouriteFlag">
      </div>
    </app-dropdown>
  </div>
</div>



