@import "mixins.scss";

h2 {
  margin: 20px;
  opacity: 0.5;
}

.wrapper {
  position: relative;
  display: flex;
  margin: 10px 20px 0 20px;
  flex-direction: column;

  .favourite-movie {
    display: flex;
    margin-bottom: 50px;

    .movie-poster {
      @include media-property(width, 120px, 150px, 200px, 300px);
      @include media-property(height, 180px, 225px, 300px, 450px);
      box-shadow: 0 0 6px 2px #000000;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      color: #000000;

      .title {
        @include media-property(flex-wrap, wrap, wrap, nowrap, nowrap);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
          @include media-property(font-size, 1.3rem, 1.3rem, 1.5rem, 2rem);
          @include media-property(margin-bottom, 20px, 20px, 0, 0);
          @include media-property(flex-basis, 100%, 100%, unset, unset);
          margin: 0 50px 0 0;
          font-weight: bold;
          opacity: 0.7;
        }

        .un-favourite-btn {
          @include media-property(font-size, 1.1rem, 1.1rem, 1.4rem, 1.8rem);
          display: inline;
          cursor: pointer;
          border-radius: 5px;
          background-color: transparent;
          border: 2px solid #000000;
          color: #000000;
          padding: 5px;
          opacity: 0.8;

          p {
            margin: 0;
          }
        }

        .un-favourite-btn:active {
          border: 1px solid #000000;
        }
      }

      .info {
        @include media-property(font-size, 1.1rem, 1.1rem, 1.4rem, 1.7rem);
        opacity: 0.7;
        line-height: 1.4;
      }
    }
  }
}
